@import "tailwindcss";


body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}